<u>___Week 1 Assignment___</u>

Que_1 : Create one variable containing following type data:
        (i)   string
        (ii)  list
        (iii) float
        (iv)  tuple

In [5]:
s = "shiv"
type(s)

str

In [6]:
l =  [2,4,'karan', True,25.645]
type(l)

list

In [7]:
f = 25.67
type(f)

float

In [9]:
t = (2,5,'vinod',3+4j,85.32,False)
type(t)

tuple

Que_2 : Given are some following variables containing data:

(i) var1=''

(ii)var2='[DS,ML,Python]'

(iii)var3=['DS','ML','Python']

(iv)var4=1

In [10]:
var1=' '
type(var1)

str

In [11]:
var2='[DS,ML,Python]'
type(var2)

str

In [12]:
var3=['DS','ML','Python']
type(var3)

list

In [13]:
var4=1
type(var4)

int

Que_3 : Explain the use of the following operations using an example:

        (i)/
        
        (ii)%
        
        (iii)//
        
        (iv)**

(i) / => use for division gives output in floating number ex:

In [14]:
5/3

1.6666666666666667

In [17]:
a = 4/2
type(a)

float

In [18]:
2/45

0.044444444444444446

In [20]:
False/True

0.0

(ii) % => use to take modulus on division of two number,
          the output will be always non-negative integer  ex:

In [21]:
5%3

2

In [22]:
3%5

3

(iii) // => use to take floor value on division ex:

In [23]:
5//3

1

In [24]:
3//5

0

-8//5

(iv) ** => use for power operation ex:

In [27]:
5**3

125

In [28]:
5**2

25

In [31]:
(-1)**2

1

Que_4 : Create a list of length 10 of your choice containing multiple types of data. Using for loop 
        print the element and its type.

In [33]:
list = [1,52.58,True,'karan',5+4j,87,"vikas",98.25,56,6+10j]

In [34]:
len(list)

10

In [16]:
for i in list:
    print(i)
    print("type of ", i , "=" ,type(i))
    print()

1
type of  1 = <class 'int'>

2
type of  2 = <class 'int'>

3
type of  3 = <class 'int'>

6
type of  6 = <class 'int'>

87
type of  87 = <class 'int'>

95
type of  95 = <class 'int'>

74
type of  74 = <class 'int'>

58
type of  58 = <class 'int'>

58
type of  58 = <class 'int'>

8
type of  8 = <class 'int'>

56
type of  56 = <class 'int'>

94
type of  94 = <class 'int'>

572
type of  572 = <class 'int'>

595
type of  595 = <class 'int'>

255
type of  255 = <class 'int'>

54
type of  54 = <class 'int'>

1226
type of  1226 = <class 'int'>

58
type of  58 = <class 'int'>

41
type of  41 = <class 'int'>

26
type of  26 = <class 'int'>

85
type of  85 = <class 'int'>

85
type of  85 = <class 'int'>

665
type of  665 = <class 'int'>

87
type of  87 = <class 'int'>

12
type of  12 = <class 'int'>

Que-5 : Using a while loop,verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [44]:
A = int(input("enter first number"))
B = int(input("enter second number"))

if A%B==0 :
        print(A ,"is divisible by", B , "is" ,A//B,"times")
else:
        print("not purely divisible change the number")

enter first number 25
enter second number 5

25 is divisible by 5 is 5 times

Que_6 : Create a list containing 25 int type data. Using for loop and if else condition print if the element is divisible by 3 or not.

In [5]:
list = [1,2,3,6,87,95,74,58,58,8,56,94,572,595,255,54,1226,58,41,26,85,85,665,87,12]

In [6]:
len(list)

25

In [7]:
for i in list :
    if i%3==0 :
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
6 is divisible by 3
87 is divisible by 3
95 is not divisible by 3
74 is not divisible by 3
58 is not divisible by 3
58 is not divisible by 3
8 is not divisible by 3
56 is not divisible by 3
94 is not divisible by 3
572 is not divisible by 3
595 is not divisible by 3
255 is divisible by 3
54 is divisible by 3
1226 is not divisible by 3
58 is not divisible by 3
41 is not divisible by 3
26 is not divisible by 3
85 is not divisible by 3
85 is not divisible by 3
665 is not divisible by 3
87 is divisible by 3
12 is divisible by 3

Que_7 : What do you understand about mutable and immutable datatypes ? Give examples for both showing this property.

Mutable : means we can not update data of a particular index  at the same memory location after execution of that datatype.
ex: String , Tuple

In [8]:
s= "karan"

In [10]:
s[0]='a'

TypeError: 'str' object does not support item assignment

In [11]:
t=(2,'vinod',5+4j,5.62)

In [12]:
t[1]="kapil"

TypeError: 'tuple' object does not support item assignment

Immutable : means we can  update data of a particular index at the same memory location after execution of that datatype. ex: list

In [13]:
l=[2,'vinod',5+4j,5.62]

In [14]:
l[1]="kapil"

In [15]:
l

[2, 'kapil', (5+4j), 5.62]