Que_1: How do you comment code in Python ? What are the different types of comment?

There are two types of comment in Python
(i) Single line comment
(ii) Multi line comment

In [20]:
#This is a single line comment

In [37]:
"""
This is a 
multi line 
comment 
first way
"""
print(54)

54

In [38]:
'''
This is a 
multi line
comment
second way
'''
print(54)

54

In [39]:
#This is a 
#multi line comment
# third way
print(54)

54

Que_2: What are variable in Python ? how do you declare and assign values to variables?

Variables are used to store the value to a particular memory location and that memory location is represent by that variable name

There are some rules for variable declaration like 
(i) We can not use special character  except underscore( _ )  
(ii) We can not use numeric value at starting
(iii) we can not use reserve word for variable name ex int ,float etc

In [58]:
a=45

In [66]:
b1="nishant"

In [67]:
_1f = 45.85

Que_3: How do you convert one datatype to another in python

With the help of typecasting we can convert one datatype to another datatype. It is of two types:
(a) Implicit (b) Explicit typecasting

Implicit Typecasting: type conversion occur without user involvement by the system ex:

In [1]:
a=5
type(a)

int

In [6]:
b=5
type(b)

int

In [8]:
c=a//b
type(c)

int

Now changing b to float value then c convert to float automatically

In [9]:
b=5.0
type(b)

float

In [10]:
c=a//b
type(c)

float

Explicit typecasting : user do the typecasting with the intension

In [13]:
a='45'
type(a)

str

In [14]:
a=int('45')
type(a)

int

In [16]:
#for doing addition we convert str to int and then add int with int
b=582
c=a+b
print(c)

627

Que_4 : How do you write and execute a Python script from the command line?

Firtly we have to save our file with .py extension

To execute a Python script from command line we have to give proper address of that .py file and then use python keyboard and then write file name

here I save hello.py file inside shivk and then execute it in cmd like this

C:\Users\shivk>python hello.py

hello world(output come)

Que_5: Given a list my_list=[1,2,3,4,5].write the code to slice the list and obtain the sub-list[2,3]

In [1]:
my_list = [1,2,3,4,5]
my_list[0:5:1]

[1, 2, 3, 4, 5]

In [3]:
sub_list=[]
sub_list.append(my_list[1])
sub_list.append(my_list[2])
sub_list

[2, 3]

In [5]:
my_list[1:3:1]

[2, 3]

Que_6: What is a complex number in mathematics ,and how it is represented in python?

In Mathematics:For the imaginary part we use 'i' key. ex: 5+4i,8+9i but

In Python : For the imaginary part we use 'j' key. ex: 5+4j,8+9j

here 8 ,5 without 'j' is a real part of complex no whereas the part combined with 'j' i.e 8j,9j is a imaginary part

In [7]:
c = 5+4j
type(c)

complex

In [9]:
c.real

5.0

In [12]:
c.imag

4.0

Que_7 : What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
age = 25

In [14]:
age

25

Que_8: Declare a vaariable named price and assign the value 9.99 to it . what data type does this variable belong to?

In [15]:
price = 9.99

In [16]:
type(price)

float

Que_9 : Create  a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [17]:
name = "Shivkumar Mittal"

In [18]:
type(name)

str

In [19]:
print(name)

Shivkumar Mittal

Que_10 : Given the String "Hello,World!",extract the substring "World".

In [25]:
string = "Hello, World!"

In [27]:
string[7:12:1]

'World'

Que_11 : Create a variable named "is_student" and assign it a boolean value indicating weather you are currently a student or not.

In [ ]:
is_student = True